# 버전 관리 파일
.git
.gitignore
.github


# 개발 환경 관련
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.venv/
venv/
ENV/

# 로그 파일
logs/
*.log

# 에디터 파일
.idea/
.vscode/
*.swp
*.swo

# 기타 불필요한 파일
.DS_Store